<h1>Tetris Party</h1>
<div>
    <svg
        phx-keydown="keydown" 
        phx-target="window"
        version="1.0" 
        style="background-color: #F8F8F8"
        id="Layer_1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        width="200" height="400" 
        viewBox="0 0 200 400" 
        xml:space="preserve">
        <%= raw @boxes %>
    </svg>
</div>
